html {
  scroll-behavior: smooth;
}
*{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding: 0;
    margin: 0;
}

body{
    display: flex;
    flex-direction: column;
}

/* style header */

header{
    display: flex;
    width: 100%;
    height: 60vh;
    
    justify-content: center;
    align-items: end;
    background: url(./img/img.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: top;
    
}
.hero-section{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 3vh;
    padding: 0 4vh;
    height: 70vh;
    width: 100%;
    background: linear-gradient(to bottom, #00000000, rgba(255, 0, 0, 0.062), rgba(255, 0, 0, 0.062), RED, rgb(51, 0, 0), #000)
}
h1{
    font-size: 2.8rem;
    color: white;
    text-align: center;
    padding-top: 30vh;
}
.hero-section>h2{
    font-size: 1.3rem;
    color: white;
    text-align: center;
}
.cta-button1{
    display: flex;
    justify-self: center;
    align-items: center;
    gap: 10px;
    padding: 5px 20px;
    font-size: 1rem;
    font-weight: 500;
    background: linear-gradient(to bottom, #FFE500, #FFE500, #928D0B);
    border: none;
    border-radius: 100px;
    cursor: pointer;
    color: #000;
    text-decoration: none;
}
.cta-button1:hover {
  background: linear-gradient(to bottom, white, white, #928D0B);
  transform: scale(1.05);
}
.cta-button1:active {
  background: linear-gradient(to bottom, white, white, #2516FB);
  transform: scale(0.95);
}


/* style main*/
main{
    background-color: #000;
    color: white;
    gap: 5vh;
}
.section1{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 5vh;
    padding: 5vh 4vh;
}
h2{
    font-size: 2rem;
    text-align: center;
    color: #f46f6fdc;
}
.section1>p{
    font-size: 1.2rem;
    text-align: center;
    font-weight: 350;
}
h4{
    font-size: 1.2rem;
    width: 19vh;
    text-align: left;
    color: #f46f6fdc;
}
.gallery{
    display: flex;
    flex-direction: column;
    gap: 1.5vh;

}
.G1{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 1vh;
    border: 0.1px solid rgba(255, 0, 0, 0.393);
    border-radius: 25px;
    padding: 1vh;
    width: 40vh;
}

.container-desc-img{
    display: flex;
    flex-direction: column;
    gap: 1vh;
    width: 20vh;
}

.container-desc-img>p{
    text-align: left;
    font-size: 0.7rem;
    color: #d9d7d7;
}

.img1{
    display: block;
    margin: 0;
    height: 25vh;
    width: 20vh;
    background : url(./img/img\ 1.jpg) center / cover;
    border-radius: 15px;
}
.img2{
    display: block;
    margin: 0;
    height: 25vh;
    width: 20vh;
    background : url(./img/img\ 2.jpg) center / cover;
    border-radius: 15px;
}
.img3{
    display: block;
    margin: 0;
    height: 25vh;
    width: 20vh;
    background : url(./img/img\ 3.jpg) center / cover;
    border-radius: 15px;
}

.section2{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 5vh;
    padding: 5vh 4vh 15vh ;
    background: linear-gradient(to top, #fefeff, rgb(165, 166, 167), rgb(45, 45, 46), rgba(250, 246, 246, 0), rgba(255, 255, 255, 0), rgba(255, 255, 255, 0), rgba(255, 255, 255, 0), rgba(255, 255, 255, 0), rgba(255, 255, 255, 0), rgba(255, 255, 255, 0), rgba(255, 255, 255, 0), rgba(255, 255, 255, 0), rgba(255, 255, 255, 0), rgba(255, 255, 255, 0), rgba(255, 255, 255, 0), rgba(255, 255, 255, 0), rgba(255, 255, 255, 0), rgba(255, 255, 255, 0), rgba(255, 255, 255, 0), rgba(255, 255, 255, 0), rgba(255, 255, 255, 0), rgba(255, 255, 255, 0), rgba(255, 255, 255, 0));
}
h3{
    font-size: 1.45rem;
    text-align: center;
    color: #f46f6fdc;
}

.cta-button2{
    display: flex;
    justify-self: center;
    align-items: center;
    gap: 10px;
    padding: 5px 20px;
    font-size: 1rem;
    font-weight: 500;
    background: linear-gradient(to bottom, #FF3131, #FF3131, #191616);
    border: none;
    border-radius: 100px;
    cursor: pointer;
    color: #000;
    text-decoration: none;
}
.cta-button2:hover {
  background: linear-gradient(to bottom, white, white, #191616);
  transform: scale(1.05);
}
.cta-button2:active {
  background: linear-gradient(to bottom, white, white, #2516FB);
  transform: scale(0.95);
}

/* Style footer */
footer{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 10vh;
    padding: 5vh 4vh;
    background: white;

}
.footer1{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 5vh;
}
.imgf{
    width: 20vh;
}
.imgf:hover{
    transform: scale(1.05);
}
.imgf1:hover{
    transform: scale(1.05);
}
.contact{
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    gap: 3vh;
}
li{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 15vh;
    width: 10vh;
}
li>a{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 15vh;
    width: 10vh;
}
.imgff{
    transition: filter 0.3s ease;
}
.imgff:hover {
  filter: grayscale(100%) brightness(1.2);
  transform: scale(1.05);
}
li:active{
    transform: scale(0.95);
}

@keyframes slideX {
  0%   { transform: translateX(0); }
  50%  { transform: translateX(6px); }
  100% { transform: translateX(0); }
}
@keyframes slideY {
  0%   { transform: translateY(0); }
  50%  { transform: translateY(6px); }
  100% { transform: translateY(0); }
}
.Arrow {
  width: 4vh;
  height: auto;
  animation: slideX 0.8s infinite;
}
.Arrow-Scroll{
  width: 4vh;
  height: auto;
  animation: slideY 0.8s infinite;
  display: none;
}




























/* Pour laptop */

@media (min-width:900px) {

/* style header */

header{
    height: 100vh;
    justify-content: center;
    align-items: end;
    background: url(./img/img.png) center / cover;
}
.hero-section{
    height: 80vh;
}
h1{
    font-size: 8rem;
    padding-top: 18vh;
}
.hero-section>h2{
    font-size: 3rem;
}
.cta-button1{
    gap: 10px;
    padding: 10px 30px;
    font-size: 1.5rem;
}


/* style main*/
main{
    background-color: #000;
    color: white;
    gap: 5vh;
}
.section1{
    justify-content: space-between;
    align-items: center;
    gap: 10vh;
    padding: 5vh 4vh;
}
h2{
    font-size: 4rem;
    text-align: center;
}
.section1>p{
    font-size: 1.8rem;
    text-align: center;
    font-weight: 350;
    width: 80vh;
}
.gallery{
    display: flex;
    flex-direction: row;
    gap: 1.5vh;

}
h4{
    font-size: 1.5rem;
    width: 40vh;
    text-align: center;
    color: #f46f6fdc;
}

.G1{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1vh;
    border: 0.1px solid rgba(255, 0, 0, 0.393);
    border-radius: 50px;
    padding: 1vh;
    width: 40vh;
    height: 60vh;
}
.container-desc-img{
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 1vh;
    width: 40vh;
}
.container-desc-img>p{
    text-align: center;
    font-size: 1rem;
}
.img1{
    height: 40vh;
    width: 40vh;
    border-radius: 50px;
}
.img2{
    height: 40vh;
    width: 40vh;
    border-radius: 50px;
}
.img3{
    height: 40vh;
    width: 40vh;
    border-radius: 50px;
}

.section2{
    gap: 10vh;
}
h3{
    font-size: 3.5rem;
    text-align: center;
}

.cta-button2{
    gap: 10px;
    padding: 10px 30px;
    font-size: 1.5rem;
}


/* Style footer */
footer{
    flex-direction: row;
    justify-content: space-between;
    align-items: end;
}
.footer1{
    flex-direction: row;
    gap: 5vh;
}
.Arrow-Scroll{
  display: block;
}
}







/* Fond semi-transparent */
.popup {
  display: none; /* caché par défaut */
  position: fixed;
  top: 0; left: 0;
  width: 100%; height: 100%;
  background: rgba(0,0,0,0.6);
  z-index: 1000;
}

/* Contenu du popup */
.popup-content {
  background: #fff;
  margin: 10% auto;
  padding: 20px;
  width: 80%;
  max-width: 400px;
  border-radius: 8px;
  text-align: center;
  animation: fadeIn 0.4s ease;
}

/* Bouton fermer */
.close {
  float: right;
  font-size: 24px;
  cursor: pointer;
}

/* Animation */
@keyframes fadeIn {
  from {opacity: 0; transform: scale(0.9);}
  to {opacity: 1; transform: scale(1);}
}
